body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.block{
    background-color: cornsilk;
    height: 500px;
    width: 600px;
    text-align: center;
    color: rgb(53, 8, 8);
}
form div{
    margin: 20px;
}
form div input{
    width: 70%;
    height: 30px;
}